*{
    padding: 0;
    margin: 0;
}
.image-container {
    background-color: #bbff99;
    height: 100vh;
}
.header {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
    padding-top: 80px;
    text-decoration: underline;
    color: #bb99ff;
}
#output1 {
    color: #bb99ff;
    text-align: center;
    padding-top: 10px;
}
.text {
    
    text-align: center;
    color: #bb99ff;
    text-decoration: underline;
    padding-top: 40px;
    font-size: 18px;
}
.input-container {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}
.button-container {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}
